@import url('https://fonts.googleapis.com/css?family=Oswald|Material+Icons');

body {
	margin: 0;
	display: flex;
	flex-flow: column wrap;
}

nav {
	box-sizing: border-box;
	padding: 1vw;
	position: fixed;
	width: 100%;
	height: 80px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #F2F2F2;
	font-family: 'Oswald';
	background: linear-gradient(
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.3));
	backdrop-filter: blur(10px);
	z-index: 2;
}

nav h1 {
	margin-left: 0.25em;
	line-height: 0;
}

nav a {
	margin-left: auto;
	flex-grow: 2;
	text-align: center;
	max-width: 30%;
}

.cta {
	text-decoration: none;
	font-family: 'Oswald';
	color: #0D0D0D;
	padding: 10px;
	background-color: white;
	border-radius: 5px;

}

section {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.img-container {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-size: cover;
}

#home {
	height: 100vh;
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/suburbs.jpg);
}

.img-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-size: 10vmin;
	line-height: 1.5em;
	width: 80%;
	z-index: 1;
}

.img-text a {
	line-height: 3.5em;
	font-size: 0.5em;
}

#surveys {
	background-color: #F2F2F2;
	color: #0D0D0D;
}

#surveys > * {
	line-height: 1.5em;
}

#surveys h1 {
	border-top: 2px solid #0D0D0D;
	border-bottom: 2px solid #0D0D0D;
/*	border-radius: 8px;*/
	padding: 0.25em 0.75em;
	margin-top: 1em;
	margin-bottom: 0;
}

#surveys h2, #surveys p {
	width: 90%;
	text-align: center;
}

#surveys h2 {
	margin: 1.5em 0;
}

#surveys p {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

#surveys a {
	font-weight: bold;
	text-decoration-color: inherit;
	color: inherit;
}

#surveys .cta {
	font-weight: normal;
	background-color: #0D0D0D;
	color: #F2F2F2;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

ul {
	columns: 2;
	list-style-type: none;
	border: 2px solid #0D0D0D;
	border-radius: 8px;
	padding: 1em 2em;
	margin: 0;
}

li::before {
	font-family: 'Material Icons';
	content: '\e86c';
	margin-right: 0.5em;
	color: inherit;
}

li {
	text-align: left;
	line-height: 3em;
}

@media screen and (min-width: 800px) {
	nav {
		font-size: 1.25em;
	}

	nav a {
		max-width: 12.5em;
	}

	.img-text {
		font-size: 2.5em;
	}

	.img-text a {
		line-height: 1em;
		font-size: 1.25rem;
	}
}