@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Material+Icons');

body {
	margin: 0;
	display: flex;
	flex-flow: column wrap;
	font-family: 'Oswald', 'Times New Roman';
	font-weight: 400;
}

h1, h2 {
	font-weight: 400;
}

nav {
	box-sizing: border-box;
	padding: 1vw;
	position: fixed;
	width: 100%;
	height: 80px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #F2F2F2;
	font-family: 'Oswald';
	background: linear-gradient(
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.3));
	backdrop-filter: blur(10px);
	z-index: 2;
}

nav h1 {
	margin-left: 8px;
	line-height: 0;
}

nav .cta {
	margin: 0 8px 0 auto;
	flex-grow: 1;
	text-align: center;
	max-width: 30%;
	font-size: 1em;
}

.cta {
	text-decoration: none;
	font-family: 'Oswald';
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 2em;
	font-size: 1.33rem;
}

.light {
	background-color: #F2F2F2;
	color: #0D0D0D;
}

.dark {
	background-color: #0D0D0D;
	color: #F2F2F2;
}

section {
	width: 100%;
	min-height: calc(100vh - 80px);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.sectionTitle {
	width: 70%;
	border-top: 2px solid #0D0D0D;
	border-bottom: 2px solid #0D0D0D;
	padding: 0.25em 0.75em;
	margin-top: 1.5em;
	margin-bottom: 0;
	text-align: center;
	font-size: 2em;
}

.img-container {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#home {
	height: 100vh;
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/neighborhood.jpg);
    background-size: cover;
}

#intro, #neighbors {
	position: relative;
}

.img-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-size: 10vmin;
	line-height: 1.5em;
	width: 80%;
	z-index: 1;
}

.img-text .cta {
	font-size: 0.6em;
}

.img-text p {
	margin-bottom: 0.5em;
}


/* Surveys section */

#surveys > * {
	line-height: 1.75em;
}

#surveys p, #surveys li {
	font-size: 1.15em;
}

#surveys h2, #surveys p {
	width: 90%;
	text-align: center;
}

#surveys h2 {
	margin: 1.5em 0;
}

#surveys p {
	margin: 2.5em 0;
}

#surveys p a {
	font-weight: 500;
	color: inherit;
}

ul {
	columns: 2;
	list-style-type: none;
	border: 2px solid #0D0D0D;
	border-radius: 8px;
	padding: 1em 2em;
	margin: 0;
	box-sizing: border-box;
	max-width: 100%;
}

#surveys ul li::before {
	font-family: 'Material Icons';
	content: '\e86c';
	margin-right: 0.5em;
	color: inherit;
}

li {
	text-align: left;
	line-height: 3em;
}

ul li:nth-child(n + 3) {
	padding-left: 1em;
}

#neighbor-img {
	height: 100vh;
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/friends.jpg);
    background-size: cover;
    background-position: 70%;
    background-repeat: no-repeat;
}

/* Process Section */

#process .sectionTitle {
	border-color: #F2F2F2;
}

#process ol {
	box-sizing: border-box;
	margin: 0.75em auto 1.5em auto;
	max-width: 100%;
	font-size: 1.25em;
}

#process ol li {
	padding-left: 0.25em;
}

/* About section */

#about-content {
	width: 90%;
	margin: 0.5em 0 3em 0;
	align-self: center;
	line-height: 2em;
}

#map {
	margin-top: 1.5em;
	height: 400px;
}

@media screen and (min-width: 800px) {
	nav {
		font-size: 1.25em;
	}

	nav .cta {
		max-width: 17.1875rem;
	}

	.img-text {
		font-size: 2.5em;
	}

	.img-text a {
		line-height: 1em;
		font-size: 1.6rem;
	}

	.cta {
		font-size: 1.3rem;
		padding: 0.75rem;
	}

	.sectionTitle {
		border-top: none;
		width: max-content;
	}
}

@media screen and (min-height: 720px) and (max-height: 820px) {
	#surveys {
		height: calc(100vh - 80px);
	}
}