body {
	padding: 0;
	margin: 0;
}

.stepContainer {
/*	border: 1px solid blue;*/
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
}

.step {
/*	border: 1px solid black;*/
	width: 100vw;
	height: 100vh;

/* Rules for step as parent of elements inside of step */

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 2rem;
}

.step .question {
	margin: 1.5em 0;
}

.step ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.step li {
	padding-bottom: 2em;
}

label {
	margin-left: 0.25em;
}

.step button {
	margin-top: 1.5em;
}

.step img {
	max-height: 35%;
}

.step .desc {
	width: 80%;
	text-align: center;
	margin: 1.5em 0;
}

.step .cta {
	margin-top: 0.75em;
}

a {
	text-decoration: none;
	border: 1px solid black;
	border-radius: 3em;
	padding: 0.75em 2em;
	background-color: black;
	color: white;
}

.hide {
	display: none;
}

/* Landscape styles */

@media screen and (max-height: 411px) {
	.step {
		flex-flow: row wrap;
		justify-content: center;
	}

	.step .question {
		flex-basis: 100vw;
		margin: 0;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	.step li {
		padding: 1.25em 0.5em 1.25em 0.5em;
		flex-basis: 25%;
	}

	.step button, .step .cta {
		flex-basis: 80vw;
		margin: 0 auto;
		margin: 0 0 1.5em 0;
	}

	.step .desc {
		width: 50%;
	}

	.step a {
		margin-left: auto;
		margin-right: auto;
	}
}