body {
	padding: 0;
	margin: 0;
}

.stepContainer {
/*	border: 1px solid blue;*/
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
}

.step {
/*	border: 1px solid black;*/
	width: 100vw;
	height: 100vh;

/* Rules for step as parent of elements inside of step */

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

.step .question {
	align-self: flex-start;
	margin-top: 10%;
	flex-basis: 100%;
}

.step ul {
	list-style-type: none;
	padding: 0;
	margin: 0 25%;
}

.step li {
	padding-bottom: 2em;
}

label {
	margin-left: 0.25em;
}

.step button {
	flex-basis: 80%;
	margin-bottom: 5%;
	height: 8%;
	align-self: flex-end;
}

.step img {
	margin-top: -1em;
	height: 35%;
}

.step .desc {
	margin: -1em 0 0 0;
	width: 80%;
	text-align: center;
}

.step .cta {
	margin-bottom: 2em;
}

a {
	text-decoration: none;
	border: 1px solid black;
	border-radius: 3em;
	padding: 0.75em 2em;
	background-color: black;
	color: white;
}

.hide {
	display: none;
}

/* Landscape styles */

@media screen and (max-height: 411px) {
/*	.step {
		flex-flow: row wrap;
		justify-content: center;
	}*/

	.step .question {
		margin: 1em;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		flex-basis: 100vw;
	}

	.step li {
		padding: 2em;
	}

	.step button {
		margin: 0 0 1.5em 0;
	}

	.step .desc {
		width: 50%;
		padding-left: 1em;
		margin: 0;
	}

	.step .cta {
		flex-basis: 100vw;
		display: flex;
		justify-content: center;
		margin: 0 0 1em 0;
	}

	#step1 ul {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-content: center;
		height: 50%;
	}

	#step1 li {
		padding: 1.5em;
	}
}