body {
	padding: 0;
	margin: 0;
}

.stepContainer {
/*	border: 1px solid blue;*/
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
}

.step {
/*	border: 1px solid black;*/
	width: 100vw;
	height: 100vh;

/* Rules for step as parent of elements inside of step */

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	padding: 1em;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

label {
	margin-left: 0.25em;
}

.step button {
	margin-left: 20%;
}

.step img {
	max-height: 45%;
	padding: 1em 0 0.5em 0;
}

.step .desc {
	width: 80%;
	text-align: center;
	margin-bottom: 0;
}

.step .question {
	margin-top: 1em;
}

a {
	text-decoration: none;
}

.hide {
	display: none;
}