* {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100vh;
	max-width: 100vw;
}

#section-1 {
	height: 100vh;
	background: #fefefe;
	color: #0a0a0a;
}

#section-2 {
	height: 100vh;
	background: #0a0a0a;
	color: #fefefe;
}